.txt1 {
  font-size: 11px;
  color: #333333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.txt1:hover {
  text-decoration: underline;
}
.txttitulo {
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
  font-size: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.txttitulo:hover {
  text-decoration: underline;
}
.newsletter {
  padding-right: 9px;
  padding-left: 9px;
  font-size: 9px;
  padding-bottom: 9px;
  color: #333333;
  padding-top: 9px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.newsletterform {
  border-right: #cccccc 1px solid;
  padding-right: 2px;
  border-top: #cccccc 1px solid;
  padding-left: 2px;
  font-size: 10px;
  padding-bottom: 2px;
  border-left: #cccccc 1px solid;
  color: #333333;
  padding-top: 2px;
  border-bottom: #cccccc 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
.dropdownform {
  font-size: 11px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccccff;
}
.txtmenu {
  padding-right: 5px;
  font-size: 10px;
  color: #000066;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.txtmenu:hover {
  text-decoration: underline;
}
.campos {
  font-size: 9px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.txtadm {
  padding-right: 5px;
  font-weight: bold;
  font-size: 11px;
  color: #333333;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.admform {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 10px;
  padding-bottom: 2px;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}
.txt2 {
  font-size: 11px;
  color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.txt3 {
  font-size: 11px;
  color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.txtadm2 {
  padding-right: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
}
/*COMEÃ‡A OS SLIDES*/
/*----------------------------------------------------------------------------*/
#slide {
  background: url(../img/bg_bottom.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 5px;
  margin-top: 5px;
  margin-left: 140px;
  width: 176px;
  height: 146px;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  border-radius: 10px;
}
.img-slides {
  width: 176px;
  height: 130px;
}

#slides {
  display: none;
}

#slides .slidesjs-navigation {
  margin-top: 5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  background-image: url(../img/btns-next-prev.png);
  background-repeat: no-repeat;
  display: block;
  width: 12px;
  height: 18px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
  margin-right: 5px;
}

a.slidesjs-next {
  margin-right: 10px;
  background-position: -12px 0;
}

a:hover.slidesjs-next {
  background-position: -12px -18px;
}

a.slidesjs-previous {
  background-position: 0 0;
}

a:hover.slidesjs-previous {
  background-position: 0 -18px;
}

a.slidesjs-play {
  width: 15px;
  background-position: -25px 0;
}

a:hover.slidesjs-play {
  background-position: -25px -18px;
}

a.slidesjs-stop {
  width: 18px;
  background-position: -41px 0;
}

a:hover.slidesjs-stop {
  background-position: -41px -18px;
}

.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(../img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px;
}

#slides a:link,
#slides a:visited {
  color: #333;
}

#slides a:hover,
#slides a:active {
  color: #9e2020;
}

.navbar {
  overflow: hidden;
}

#slides {
  display: none;
}

.container {
  margin: 0 auto;
}

/*FIM DOS SLIDES*/
/*--------------------------------------------------------------------------------------------*/

/*
     FILE ARCHIVED ON 23:13:04 Mar 13, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:37:04 Dec 20, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 66.133
  exclusion.robots: 0.087
  exclusion.robots.policy: 0.078
  RedisCDXSource: 0.623
  esindex: 0.007
  LoadShardBlock: 42.752 (3)
  PetaboxLoader3.datanode: 105.091 (5)
  CDXLines.iter: 19.29 (3)
  load_resource: 281.821 (2)
  PetaboxLoader3.resolve: 171.103 (2)
*/
